@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
}